<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>express app</title>
	<link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>

	<form name="register">
		用户名：<input type="text" name="username"> 
		<br>
		密码：<input type="password" name="password">
		<br>
		<input type="submit" value="确定">
	</form>

	{{email}} {{name}} {{id}}
	<embed width="100%" height="1000" name="plugin" id="plugin" src="/static/a.pdf" type="application/pdf" internalinstanceid="34" title="a">
	<script type="text/javascript">
		const delay = http => new Promise((resolve, reject)=>{
			http.onload = function(e){
				if(this.status == 200) {
					resolve(JSON.parse(http.response));
				} else {
					reject(this.statusText);
				}
			}
			http.onerror = function(e) {
				reject(e.errorMessage);
			}
		});

		function http() {
			
		}
		http.prototype.request = function(type, data, url){
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.open(type, url);
			if(type.toUpperCase() === 'GET'){
				var params = data.params || {};
				var search = Object.keys(params).reduce( function(arr, item) {
					return arr.concat(`${item}=${params[item]}`);
				}, []).join('&');
				search = search ? '?' + search : '';
				xmlHttp.send(url + search);
			} else {
				xmlHttp.send(JSON.stringify(data));
			}
			
			return delay(xmlHttp);
		}
		http.prototype.put = function(url, data){
			return this.request('put', data, url);
		}  


		var regeisterForm = document.forms['register'];
		regeisterForm.addEventListener('submit', e => {
			e.preventDefault();
			var data = {
				username:e.target.username.value,
				password:e.target.password.value
			};
			new http().put('/api/user', data).then(res => console.log(res))
		});
	</script>
</body>
</html>